<mat-card [ngClass]="cardClasses()" [attr.role]="role()" [attr.tabindex]="tabindex()"
    [attr.aria-label]="computedAriaLabel()" [attr.aria-disabled]="disabled()" [attr.aria-busy]="loading()"
    (click)="onCardClick()" [matRippleDisabled]="disabled() || !clickable()">

    @if (hasHeader()) {
    <mat-card-header class="app-card__header">

        <ng-content select="[card-header]"></ng-content>

        @if (title()) {
        <mat-card-title>
            {{ title() }}
        </mat-card-title>
        }

        @if (subtitle()) {
        <mat-card-subtitle>
            {{ subtitle() }}
        </mat-card-subtitle>
        }

    </mat-card-header>
    }

    <mat-card-content class="app-card__content">
        <ng-content></ng-content>
    </mat-card-content>

    @if (hasActions()) {
    <mat-card-actions class="app-card__actions">
        <ng-content select="[card-actions]"></ng-content>
    </mat-card-actions>
    }

</mat-card>