<header class="page-header">

    <div class="page-header__content">

        <div class="page-header__titles">

            <h1 class="page-header__title">
                {{ title() }}
            </h1>

            @if (subtitle()) {
            <p class="page-header__subtitle">
                {{ subtitle() }}
            </p>
            }

        </div>

        <div class="page-header__actions">

            <ng-content select="[pageHeaderAction]">
            </ng-content>

        </div>

    </div>

    @if (showDivider()) {
    <mat-divider></mat-divider>
    }

</header>