<div class="login-page">

    <mat-card class="login-card">

        <mat-card-header>

            <mat-card-title>

                Enterprise E-Commerce

            </mat-card-title>

            <mat-card-subtitle>

                Sign in to continue

            </mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="loginForm" (ngSubmit)="login()">

                <!-- ========================= -->
                <!-- Email -->
                <!-- ========================= -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Email Address</mat-label>

                    <input matInput type="email" formControlName="email" autocomplete="username">

                    @if (
                    loginForm.controls.email.hasError('required')
                    &&
                    loginForm.controls.email.touched
                    ) {

                    <mat-error>

                        Email is required.

                    </mat-error>

                    }

                    @if (
                    loginForm.controls.email.hasError('email')
                    &&
                    loginForm.controls.email.touched
                    ) {

                    <mat-error>

                        Enter a valid email.

                    </mat-error>

                    }

                </mat-form-field>

                <!-- ========================= -->
                <!-- Password -->
                <!-- ========================= -->

                <mat-form-field appearance="outline" class="full-width">

                    <mat-label>Password</mat-label>

                    <input matInput type="password" formControlName="password" autocomplete="current-password">

                    @if (
                    loginForm.controls.password.hasError('required')
                    &&
                    loginForm.controls.password.touched
                    ) {

                    <mat-error>

                        Password is required.

                    </mat-error>

                    }

                    @if (
                    loginForm.controls.password.hasError('minlength')
                    &&
                    loginForm.controls.password.touched
                    ) {

                    <mat-error>

                        Minimum 6 characters required.

                    </mat-error>

                    }

                </mat-form-field>

                <!-- ========================= -->
                <!-- Submit -->
                <!-- ========================= -->

                <button mat-flat-button color="primary" class="login-button" type="submit"
                    [disabled]="loginForm.invalid">

                    Login

                </button>

            </form>

        </mat-card-content>

    </mat-card>

</div>