:host {

    display: block;

    min-height: 100vh;

}

.content-shell {

    display: flex;

    flex-direction: column;

    min-height: 100vh;

}

main {

    flex: 1;

    display: flex;

    flex-direction: column;

    padding: 24px;

    overflow: auto;

}