<mat-sidenav-container class="layout-container">

    <mat-sidenav class="layout-drawer" [mode]="layout.mode()" [opened]="layout.shouldOpen()">

        <app-sidenav [isMobile]="layout.handset()">

        </app-sidenav>

    </mat-sidenav>

    <mat-sidenav-content>

        <app-toolbar (menuToggle)="layout.toggle()">

        </app-toolbar>

        <main class="page-content">

            <router-outlet>

            </router-outlet>

        </main>

        <app-footer>

        </app-footer>

    </mat-sidenav-content>

</mat-sidenav-container>