<mat-card>

    <h2>Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!--
        <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" formControlName="first_name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" formControlName="last_name">
        </mat-form-field>
-->
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>

        <button mat-raised-button color="primary">

            Register

        </button>

    </form>

</mat-card>