<div class="app-section-header__container" [ngClass]="layoutClass()">
  <div class="app-section-header__content-block">
    <h2 class="app-section-header__title">{{ title() }}</h2>
    @if (subtitle()) {
      <p class="app-section-header__subtitle">{{ subtitle() }}</p>
    }
  </div>

  <div class="app-section-header__meta-block">
    <ng-content select="[section-meta]"></ng-content>
  </div>

  <div class="app-section-header__spacer"></div>

  <div class="app-section-header__actions-block">
    <ng-content select="[section-actions]"></ng-content>
  </div>
</div>

@if (showDivider()) {
  <mat-divider class="app-section-header__divider"></mat-divider>
}
