<div class="filters">

    <app-product-search />

    <app-product-category-filter />

</div>
<div class="grid-container">

    @for (
    product of products$ | async;
    track product.id
    ) {

    <mat-card>

        <mat-card-title>
            {{ product.name }}
        </mat-card-title>

        <mat-card-content>

            <p>{{ product.category }}</p>

            <p>₹ {{ product.price }}</p>

        </mat-card-content>

        <button mat-raised-button color="primary" [routerLink]="['/products', product.id]">

            View Details

        </button>

    </mat-card>

    }

</div>