<div class="profile-container" *ngIf="user$ | async as user">
  <mat-card>
    <mat-card-header>
      <mat-icon mat-card-avatar>account_circle</mat-icon>
      <mat-card-title>User Profile</mat-card-title>
      <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="profile-details">
        <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Default Shipping Address:</strong> (Coming Soon)</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
