:host {
    display: block;
    width: 100%;
}

.page-container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1440px;

    margin-inline: auto;

    padding: 24px;

    min-height: 100%;
}

@media (max-width: 959px) {
    .page-container {
        padding: 20px;
    }
}

@media (max-width: 599px) {
    .page-container {
        padding: 16px;
    }
}